<%- include('components/html') %> 
<%- include('components/header') %>
<main>
    <div>
        <h1>Perkenalkan</h1>
        <h2>Nama saya Nathan</h2>
        <img src="img/smile.jpeg" alt="Saya Nathan">
    </div>
</main>
<%- include('components/footer') %>